<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<title><%= content_for(:title) || "Testapp" %></title>
<meta name="description" content="" />

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= yield :head %>

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="<%= asset_path('img/favicon/favicon.ico') rescue '/icon.png' %>" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />

<!-- Icons -->
<link rel="stylesheet" href="/assets/fonts/boxicons.css" />

<!-- Core CSS -->
<%= stylesheet_link_tag "core", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "theme-default", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "demo", "data-turbo-track": "reload" %>

<!-- Vendors CSS -->
<%= stylesheet_link_tag "vendor/perfect-scrollbar", "data-turbo-track": "reload" %>

<%# Additional CSS can be added via content_for :stylesheets %>
<%= content_for :stylesheets %>

<!-- Helpers -->
<script src="/assets/vendor/js/helpers.js"></script>

<!-- Config -->
<script src="/assets/js/config.js"></script>

<%= javascript_importmap_tags %>














